@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 590px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #696969;
  color: white;
  height: 90px;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 10px;
}

.main {
  background-color: white;
  margin-top: 20px;
  height: 60%;
  border: 1px solid gray;
  position: relative;
}

.amount-bar {
  background-color: #FF7F50;
  height: 24px;
  width: 70%;
}

.wrapper {
  position: absolute;
  padding: 24px 36px;
  border-top: 1px solid gray;
}

.project-info > p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  display: block;
}

.orange {
  color: #FF7F50;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.donation-form {
  display: flex;
  justify-content: space-between;
}

.donation-input,
.donation-submit {
  font-family: inherit;
  font-size: 1.2em;
  border: 1px solid gray;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  width: 45%;
  height: 60px;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

input[type="number"] {
  appearance: textfield;
}

.btn-success {
  border: none;
  color: #fff;
  background-color: #32CD32;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #6495ED;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  font-family: inherit;
  font-size: 1.2em;
  border: 1px solid gray;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  width: 45%;
  height: 60px;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}



